
<script>
  import { createConsumer } from "@rails/actioncable";

  document.addEventListener("DOMContentLoaded", function () {
    window.scrollTo(0, document.body.scrollHeight);
    const consumer = createConsumer();
    consumer.subscriptions.create("MessagesChannel", {
     received(data) {
        received(data);
    });
  </script>

<div>
  <small class="text-s opacity-50">Daniel Burt's</small>
  <h1 class="text-3xl font-bold">Wall of <span class="text-red-500">Love<span></h1>
        
  <div class="bg-base-300 card shadow-xl my-5">
    <div class="grid grid-flow-row grid-cols-3 w-full" id="messages">
      <%= render @messages %>
    </div>
  </div>

  <%= render "form", message: @message %>

</div