
<script>
import { createConsumer } from "@rails/actioncable";

document.addEventListener("DOMContentLoaded", function () {
  window.scrollTo(0, document.body.scrollHeight);
  
  const consumer = createConsumer(ws://localhost:3000/cable);
  
  consumer.subscriptions.create("MessagesChannel", {
    received(data) {
      received(data);
  

  });
  
  
  
  
  
      
      </script>
      
      <% content_for :title, "New message" %>
      
      <div id="messages">
  <% @messages.each do |message| %>
    <div style="margin-bottom:20px; background: powderblue; padding: 5px">
      <small style="padding:0">
        <%= message.created_at.in_time_zone("Stockholm").strftime("%B %d, %Y %I:%M %p") %>
      </small>
      <p style="padding-left: 5px">
        <%= message.body %>
      </p>
    </div>
  <% end %>
</div>

<%= render "form", message: @message %>

<br>

<div>
  <%= link_to "Back to messages", messages_path %>
</div>
